.icon-circle {
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}
.icon-circle-header {
  width: 20px;
  height: 20px;
  background-color: #CFCFCF;
}

.mg-r-xs {
  margin-right: 5px;
}
.mg-l-xs {
  margin-left: 5px;
}
.mg-t-xs {
  margin-top: 5px;
}
.mg-b-xs {
  margin-bottom: 8px;
}
.mg-r-md {
  margin-right: 8px;
}
.mg-l-md {
  margin-left: 8px;
}
.mg-t-md {
  margin-top: 8px;
}
.mg-b-md {
  margin-bottom: 8px;
}
